.input {
  width: 250px;
  height: 50px;
  padding: 10px;
  border-radius: 35px;
}

.list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  flex-basis: 200px;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
}

.title {
  padding: 10px;
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
